
body .container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1440px;
     
}
header {
    text-align: center;
    width: 480px;
}

header h1 {
    font-weight: 400;
    font-size: 1.8rem;
}

header h2 {
    font-weight: 700;
    font-size: 1.8rem;
}

.fourCards {
    display: flex;

}

.fourCards .card {
    background-color: white;
    border-radius: 6px;
    width: 400px;
    height: 240px;

    margin: 12px;
    
}

.fourCards .card div {
    border-radius: 6px 6px 0 0;
    display: block;
    width: 460;
    height: 7px;
}

/*color for cards*/
.fourCards .card .line-Cyan {
    background-color: var(--Cyan);

}
.fourCards .card .line-Red {
background-color: var(--Red);

}
.fourCards .card .line-Orange {
background-color: var(--Orange);

}
.fourCards .card .line-Blue {
background-color: var(--Blue);

}

section .card-elements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    margin: 16px 14px 12px;
}



