
body .container{
    display: flex;
    flex-direction: column;
    
     
}
header {
    text-align: center;
    padding: 70px 0px 50px 0;
}

header h1 {
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--Very-Dark-Blue);
}

header h2 {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--Very-Dark-Blue);
    margin-bottom: 1.5rem;
}

header p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--Grayish-Blue);
    max-width: 375px;
    margin: 0 auto;
}

@media (max-width: 420px) {
    header h1 {
        font-size: 1.5rem;
        
    }
    
    header h2 {
        font-size: 1.5rem;
       
    }
    
    header p {
        font-size: 1rem; 
        
    }   
}       
        
        
    

.fourCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;


}

.fourCards .card {
    box-shadow: 2px 8px 14px 0px var(--Grayish-Blue);
    border-radius: 8px;
    padding: 30px;
    margin: 2rem 0;
    max-width: 375px;
    
}


/*color for cards*/
.fourCards .Cyan {
    border-top: 5px solid var(--Cyan);
    margin: 0;
}
.fourCards .Red {
    border-top: 5px solid var(--Red);

}
.fourCards .Orange {
    border-top: 5px solid var(--Orange);

}
.fourCards .Blue {
    border-top: 5px solid var(--Blue);
    margin: 0;
}

.card h2 {
    color: var(--Very-Dark-Blue);
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
    color: hsl(229, 6%, 66%);
    margin-top: 0.5rem;
}

.card img {
    display: block;
    margin-left: auto;
	margin-top: 2.2rem;
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    header h1,
    header h2, {
        font-size: 2em;
    }
    header p {
        font-size: 1.1rem;
    }
    .fourCards {
        flex-direction: row;
        
    }
    .card {
        margin: 2rem;

    }
    .column {
        margin: 0 1rem;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;

}

footer img {
    width: 10rem;
    margin-right: 1rem;

}


