
body .container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1440px;
     
}
header {
    text-align: center;
    padding: 70px 0px 50px 0;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--Very-Dark-Blue);
}

header h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--Very-Dark-Blue);
    margin-bottom: 1.5rem;
}

header p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--Very-Dark-Blue);
    max-width: 500px;
    margin: 0 auto;
}

.fourCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;


}

.fourCards .card {
    box-shadow: 2px 8px 14px 0px var(--Grayish-Blue);
    border-radius: 8px;
    padding: 30px;
    margin: 2rem 0;
    max-width: 400px;
    
}

.fourCards .card div {
    
    
    
}

/*color for cards*/
.fourCards .card .line-Cyan {
    border-top: 5px solid var(--Cyan);
    margin: 0;
}
.fourCards .card .line-Red {
    border-top: 5px solid var(--Red);

}
.fourCards .card .line-Orange {
    border-top: 5px solid var(--Orange);

}
.fourCards .card .line-Blue {
    border-top: 5px solid var(--Blue);
    margin: 0;
}

.card h2 {
    color: var(--Very-Dark-Blue);
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
    color: hsl(229, 6%, 66%);
}

.card img {
    display: block;
    margin-left: auto;
	margin-top: 30px;
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    header h1,
    header h2, {
        font-size: 2em;
    }
    header p {
        font-size: 1.1rem;
    }
    .cards {
        flex-direction: row;
    }
    .card {
        margin: 2rem;
    }
}



